<!DOCTYPE html>
<html lang="es">
<head>
    <title>Ciudadanía italiana por reconstrucción en CABA</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" type="image/png" href="../images/favicon_bandera_italia.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Templates de traducciones de actas de CABA al italiano</h1>
    <p>Traducción completa, con timbrado y GEDO</p>
    <a href="../index.html"> Volver al inicio</a>
</div>

<div class="container text-justify">
    <div class="container">
        <img class="centered-image one-column-certificate" src="../images/Acta_Nacimiento_CABA_1946.png"/>
    </div>
    <br> <br>
    <div class="h2">Traducción completa, con timbrado y GEDO</div>
    <div class="h5">Reemplazar lo azul y rojo por los datos correctos, usando los tips debajo. Los datos son ficticios,
        y solo a modo de ejemplo. En la traducción oficial se rellena cada línea hasta el final con guiones medios
        ("-----").
    </div>
    <br> <br>

    TRADUZIONE.<br>
    [Vi è legalizzazione d’uso di questo atto munita
    di firma digitale e codice di verifica online]:<br>
    Governo della Città di Buenos Aires. <span class="text-primary">2020</span>.<br>
    Certificato di Atto pagato.<br>
    Numero: <span class="text-primary">CE-2020-12345678-GCABA-DGRC</span>.<br>
    Buenos Aires, martedì <span class="text-primary">22 settembre 2020</span>.<br>
    Oggetto: Certificato di Atto consegnato.<br>
    Certifico che il presente documento è copia
    conforme all’originale che risulta nel modulo
    Ufficio dello Stato Civile Elettronico, del
    Sistema di Gestione dei Documenti Elettronici del
    Governo della Città di Buenos Aires alla data di
    rilascio del presente certificato. Si rilascia per
    essere presentato innanzi a chi corrisponde.<br>
    Si attesta che è stato effettuato il pagamento
    relativo al rilascio di questo atto.<br>
    Numero di Documento Elettronico: <span class="text-primary">IF-2020-20000000-
    GCABA-DGRC</span>.<br>
    Verifica online: https://www.buenosaires.gob.ar/portal-autenticidad<br>
    [C’è una dicitura in un’altra lingua e firma digitale di] <span class="text-primary">Gonzalo Alvarez</span>,
    Direttore Operativo,
    Direzione Generale dell’Ufficio dello Stato Civile, Ministero del Governo.<br>
    [A margine sinistro] Comune della Città di Buenos
    Aires. <span class="text-primary">FERRARI Sofía</span>.<br>
    Ufficio dello Stato Civile.- Numero <span class="text-primary">1429</span>.<br>
    Nella Città di Buenos Aires, Capitale della
    Repubblica Argentina, addì <span class="text-primary">28 maggio 1946</span>. Io,
    Capo della Sezione <span class="text-primary">Nueva Chicago</span> dell’Ufficio
    dello Stato Civile, iscrivo la <span class="font-weight-bold">NASCITA</span> di:<br>
    {NEONATO} <span class="text-primary font-weight-bold">Sofía</span>. Di sesso <span class="text-primary">femminile</span>, <span
        class="bg-warning">nata</span> il
    <span class="text-primary font-weight-bold">1 maggio 1946</span> in via <span class="text-primary">Corrientes 1234</span> alle ore
    <span class="text-primary">04:10</span>.
    <span class="bg-warning">Figlia</span> di:<br>
    {PADRE} <span class="text-primary">Luis [Luigi] FERRARI</span>, di <span class="text-primary">28</span> anni,
    residente in via <span class="text-primary">Corrientes 1234</span>, figlio di <span class="text-primary">Juan [Giovanni] FERRARI</span>
    e di <span class="text-primary">María Julia [Maria Giulia] LOMBARDI</span>; e di:<br>
    {MADRE} <span class="text-primary">Juana RICCI</span>, di <span class="text-primary">25</span> anni, residente in
    via <span class="text-primary">Corrientes 1234</span>, figlia di
    <span class="text-primary">Marco RICCI</span> e di <span class="text-primary">Ángela ROSSI</span>.<br>
    Questa iscrizione si fa innanzi ai testimoni:<br>
    {TESTIMONI} <span class="text-primary">Juan PEREZ</span>, di <span class="text-primary">40</span> anni, residente
    in
    via <span class="text-primary">Mitre 1500</span>, e <span class="text-primary">Sandra NADAL in COSSIO</span>, di
    <span class="text-primary">30</span>
    anni, residente in via <span class="text-primary">Viamonte 1600</span>. Secondo la
    dichiarazione conferita dal padre. Letto l’atto lo
    firmarono con me il dichiarante e i testimoni
    nominati.<br>
    [Seguono quattro firme, il timbro dell’Ufficio
    dello Stato Civile e il timbro del Capo Sezione].<br>
    <span class="text-primary">IF-2020-20000000-GCABA-DGRC</span>. Pagina 1 di 1.<br>
    [Segue legalizzazione d’uso di questo atto munita
    di firma digitale]:<br>
    Governo della Città di Buenos Aires. <span class="text-primary">2020</span>.<br>
    Foglio aggiuntivo di firme.<br>
    Atto firma olografa.<br>
    Numero: <span class="text-primary">IF-2020-20000000-GCABA-DGRC</span>.<br>
    Buenos Aires, <span class="text-primary">martedì 22 settembre 2020</span>.<br>
    Oggetto: Atto digitalizzazione.<br>
    Il documento è stato prelevato dal sistema GEDO in
    un numero complessivo di 1 pagina.<br>
    [C’è una dicitura in un’altra lingua e firma
    digitale di] <span class="text-primary">Gonzalo Alvarez</span>, Direttore Operativo,
    Direzione Generale dell’Ufficio dello Stato
    Civile, Ministero del Governo.<br>

    <br> <br>
    <div>
        <br>
        <div class="h4">Aclaraciones y tips</div>
        <ul>
            <li>
                Lo marcado en <span class="text-danger">rojo</span> debe adaptarse con atención según el caso.
            </li>
            <li>
                En caso de tratarse del nacimiento de una mujer, <span class="bg-warning">nato</span> debe cambiarse a
                <span class="font-weight-bold">nata</span>, y
                <span class="bg-warning">Figlio</span> debe cambiarse a <span class="font-weight-bold">Figlia</span>.
            </li>
            <li>Los meses del año en italiano son: <span class="font-weight-bold"> Gennaio, Febbraio, Marzo, Aprile,
                Maggio, Giugno, Luglio, Agosto, Settembre, Ottobre, Novembre, Dicembre</span>.
            </li>
            <li>Los días de la semana en italiano son: <span class="font-weight-bold">
                Lunedì, Martedì, Mercoledì, Giovedì, Venerdì, Sabato, Domenica.
            </span></li>
        </ul>
    </div>
</div>

</body>
</html>

