<!DOCTYPE html>
<html lang="es">
<head>
    <title>Ciudadanía italiana por reconstrucción en CABA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Templates de traducciones de actas de CABA al italiano</h1>
    <p>Traducción completa, con timbrado y GEDO</p>
    <a href="../index.html"> Volver al inicio</a>
</div>

<div class="container">
    <div class="container">
        <img src="../images/Acta_Defuncion_CABA_1996.png" style="max-width: 100%"/>
    </div>
    <br> <br>
    <div class="h2">Traducción completa, con timbrado y GEDO</div>
    <div class="h5">Reemplazar lo azul y rojo por los datos correctos, usando los tips debajo. Los datos son ficticios,
        y solo a modo de ejemplo. En la traducción oficial se rellena cada línea hasta el final con guiones medios ("-----").
    </div>
    <br> <br>
    <div>
        TRADUZIONE.<br>
        [Vi è legalizzazione d’uso di questo atto munita di firma digitale e codice di verifica online]:<br>
        Governo della Città di Buenos Aires. <span class="text-primary">2020</span>.<br>
        Certificato di Atto pagato.<br>
        Numero: <span class="text-primary">CE-2020-11111111-GCABA-DGRC.</span><br>
        Buenos Aires, <span class="text-primary">sabato 29 agosto 2020.</span><br>
        Oggetto: Certificato di Atto consegnato.<br>
        Certifico che il presente documento è copia conforme all’originale che risulta nel modulo Ufficio dello Stato
        Civile Elettronico, del Sistema di Gestione dei Documenti Elettronici del Governo della Città di Buenos Aires
        alla data di rilascio del presente certificato. Si rilascia per essere presentato innanzi a chi corrisponde.<br>
        Si attesta che è stato effettuato il pagamento relativo al rilascio di questo atto.<br>
        Numero di Documento Elettronico: <span class="text-primary">IF-2016-22222222-DGRC.</span><br>
        Verifica online: https://www.buenosaires.gob.ar/portal-autenticidad<br>
        [C’è una dicitura in un’altra lingua e firma digitale di] <span class="text-primary">Gonzalo Alvarez</span>, Direttore Operativo, Direzione
        Generale dell’Ufficio dello Stato Civile, Ministero del Governo.<br>
        [A margine sinistro] Comune della Città di Buenos Aires.<br>
        Ufficio dello Stato Civile.- Dipartimento Centrale Decessi. Volume <span class="text-primary">1A</span>. Numero
        <span class="text-primary">1234</span>. Anno <span class="text-primary">1996</span>.<br>
        In Buenos Aires, Capitale della Repubblica Argentina, addì <span class="text-primary">5 novembre 1996</span>.
        Io, Ufficiale dello Stato Civile, iscrivo il DECESSO di:<br>
        <span class="text-primary">Luis [Luigi] FERRARI</span><br>
        Di sesso <span class="text-primary">maschile</span>, <span
            class="bg-warning">naturalizzato argentino</span>, <span
            class="bg-warning">vedovo</span> di <span class="text-primary">Juana [Giovanna] RICCI</span>,
        <span class="text-primary">pensionato</span>, carta d’identità (D.N.I.) n. <span
            class="text-primary">12.000.000</span>, residente in via <span class="text-primary">Corrientes 1234</span>.
        <span class="bg-warning">Figlio</span> di <span class="text-primary">Juan [Giovanni] FERRARI</span>
        e di <span class="text-primary">Maria LOMBARDI</span>,
        <span class="bg-warning">nato</span> in <span class="text-primary">Cosenza (Italia)</span> il <span
            class="text-primary">2 ottobre 1920</span>.
        Avvenuto in questa città in via <span class="text-primary">Sarmiento 123</span> il <span class="text-primary">4 novembre 1996</span>,
        alle ore <span class="text-primary">09:50</span>. Causa della morte: arresto cardiorespiratorio non traumatico.
        Certificato medico: <span class="text-primary">Rafael Thomen</span>.
        Dichiarante: <span class="text-primary">Jose PEREZ</span>, carta d’identità (C.I.) n. <span class="text-primary">3.000.000</span>, residente in
        via Mitre 1500. Agisce in virtù dell’autorizzazione di <span
            class="text-primary">Adolfo COSTA</span>, il quale ha visto il
        cadavere, che si archivia.<br>
        [Segue una firma, il timbro dell’Ufficio dello Stato Civile e il timbro dell’Ufficiale Pubblico].<br>
        <span class="text-primary">IF-2016-22222222-DGRC</span>. Pagina 1 di 1.<br>
        [Segue legalizzazione d’uso di questo atto munita di firma digitale]:<br>
        Governo della Città di Buenos Aires. <span class="text-primary">2016</span>.<br>
        Foglio aggiuntivo di firme.<br>
        Atto firma olografa.<br>
        Numero: <span class="text-primary">IF-2016-22222222-DGRC</span>.<br>
        Buenos Aires, <span class="text-primary">venerdì 12 febbraio 2016</span>.<br>
        Oggetto: Atto digitalizzazione.<br>
        Il documento è stato prelevato dal sistema GEDO in un numero complessivo di 1 pagina.<br>
        [C’è una dicitura in un’altra lingua e firma digitale di] GCBARCE, Assistente Amministrativo, Direzione Generale
        dell’Ufficio dello Stato Civile (SSGOBIER).<br>
        <br>
        <br>
    </div>

    <div>
        <br>
        <div class="h4">Aclaraciones y tips</div>
        <ul>
            <li>
                Lo marcado en <span class="text-danger">rojo</span> debe adaptarse con atención según el caso.
            </li>
            <li>
                En caso de tratarse del nacimiento de una mujer, <span class="bg-warning">nato</span> debe cambiarse a
                <span class="font-weight-bold">nata</span>, y
                <span class="bg-warning">Figlio</span> debe cambiarse a <span class="font-weight-bold">Figlia</span>.
            </li>
            <li>
                <span class="font-weight-bold">CENTRAL NACIMIENTOS</span> se traduce como <span
                    class="font-weight-bold">CENTRALE NASCITE</span>, y
                <span class="font-weight-bold">CIRCUNSCRIPCIÓN 13º</span> se traduce como <span
                    class="font-weight-bold">SEZIONE 13º</span>.
            </li>
            <li>Los meses del año en italiano son: <span class="font-weight-bold"> Gennaio, Febbraio, Marzo, Aprile,
                Maggio, Giugno, Luglio, Agosto, Settembre, Ottobre, Novembre, Dicembre</span>.
            </li>
            <li>Los días de la semana en italiano son: <span class="font-weight-bold">
                Lunedì, Martedì, Mercoledì, Giovedì, Venerdì, Sabato, Domenica.
            </span></li>
        </ul>


    </div>
</div>

</body>
</html>

