<!DOCTYPE html>
<html lang="es">
<head>
    <title>Ciudadanía italiana por reconstrucción en CABA</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" type="image/png" href="../images/favicon_bandera_italia.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Templates de traducciones de actas de CABA al italiano</h1>
    <p>Traducción de acta de nacimiento de 1999 con timbrado y GEDO</p>
    <a href="../index.html">Volver al inicio</a>
</div>

<div class="container text-justify">
    <div class="container text-center">
        <img class="one-column-certificate" src="../images/Acta_Nacimiento_CABA_1999.png"/>
    </div>
    <br> <br>

    TRADUZIONE.<br>
    [Vi è legalizzazione d’uso di questo atto munita
    di firma digitale e codice di verifica online]:<br>
    Governo della Città di Buenos Aires. <span class="text-primary">2020</span>.<br>
    Certificato di Atto pagato.<br>
    Numero: <span class="text-primary">CE-2020-20000000-GCABA-DGRC</span>.<br>
    Buenos Aires, <span class="text-primary">mercoledì 23 settembre 2020</span>.<br>
    Oggetto: Certificato di Atto consegnato.<br>
    Certifico che il presente documento è copia
    conforme all’originale che risulta nel modulo
    Ufficio dello Stato Civile Elettronico, del
    Sistema di Gestione dei Documenti Elettronici del
    Governo della Città di Buenos Aires alla data di
    rilascio del presente certificato. Si rilascia per
    essere presentato innanzi a chi corrisponde.<br>
    Si attesta che è stato effettuato il pagamento
    relativo al rilascio di questo atto.<br>
    Numero di Documento Elettronico: <span class="text-primary">IF-2020-20000000-
    GCABA-DGRC</span>.<br>
    Verifica online: https://www.buenosaires.gob.ar/portal-autenticidad<br>
    [C’è una dicitura in un’altra lingua e firma
    digitale di] <span class="text-primary">Gonzalo Alvarez</span>, Direttore Operativo,
    Direzione Generale dell’Ufficio dello Stato
    Civile, Ministero del Governo.<br>
    [A margine sinistro] Governo della Città di Buenos
    Aires. Carta d’identità (D.N.I.) N° <span class="text-primary">42.000.000</span><br>
    Ufficio dello Stato Civile.- Circoscrizione <span class="text-primary">13</span>.
    Volume <span class="text-primary">1A</span>. Numero <span class="text-primary">2000</span>. Anno <span
        class="text-primary">1999</span>.<br>
    In Buenos Aires, Capitale della Repubblica
    Argentina, addì <span class="text-primary">6 settembre 1999</span>. Io, Ufficiale
    dello Stato Civile, iscrivo la NASCITA di:<br>
    <span class="text-primary">Sofía FERRARI</span><br>
    Di sesso femminile, <span class="bg-warning">nata</span> il <span class="text-primary">20 agosto 1999</span>, alle
    ore <span class="text-primary">13:16</span>, in questa città in <span class="text-primary">C.so Pueyrredon
    1461</span>. <span class="bg-warning">Figlia</span> di <span class="text-primary">Luis FERRARI</span>, carta
    d’identità (D.N.I.) n. <span class="text-primary">18.000.000</span>, e di <span
        class="text-primary">Juana RICCI</span>, carta d’identità (D.N.I.) n.
    <span class="text-primary">23.000.000</span>. Conforme al certificato dell’ostetrica
    <span class="text-primary">Sara Perez</span>.
    Dichiarante: <span class="text-primary">Marta GONZALEZ</span>,
    carta d’identità (D.N.I.) n. <span class="text-primary">10.000.000</span>, residente
    in <span class="text-primary">C.so Pueyrredon 1461</span>. Agisce in virtù
    dell’autorizzazione che si archivia. <span class="text-danger">Cancellato:
“maschile” non è valido. Tra linee: “femminile” è
    valido</span>.<br>
    [Seguono due firme, il timbro dell’Ufficio dello
    Stato Civile e il timbro dell’Ufficiale Pubblico].
    <span class="text-primary">IF-2020-20000000-GCABA-DGRC</span>. Pagina 1 di 1.<br>
    [Segue legalizzazione d’uso di questo atto munita
    di firma digitale]:<br>
    Governo della Città di Buenos Aires. <span class="text-primary">2020</span>.<br>
    Foglio aggiuntivo di firme.<br>
    Atto firma olografa.<br>
    Numero: <span class="text-primary">IF-2020-20000000-GCABA-DGRC</span>.<br>
    Buenos Aires, <span class="text-primary">mercoledì 23 settembre 2020</span>.<br>
    Oggetto: Atto digitalizzazione.<br>
    Il documento è stato prelevato dal sistema GEDO in
    un numero complessivo di 1 pagina.<br>
    [C’è una dicitura in un’altra lingua e firma
    digitale di] <span class="text-primary">Gonzalo Alvarez</span>, Direttore Operativo,
    Direzione Generale dell’Ufficio dello Stato
    Civile, Ministero del Governo.<br>

    <br><br>
    <div class="h4">Aclaraciones y tips</div>
    <ul>
        <li>
            Lo marcado en <span class="text-danger">rojo</span> debe adaptarse con atención según el caso.
        </li>
        <li>
            En caso de tratarse del nacimiento de una mujer, <span class="bg-warning">nato</span> debe cambiarse a <span
                class="font-weight-bold">nata</span>, y
            <span class="bg-warning">Figlio</span> debe cambiarse a <span class="font-weight-bold">Figlia</span>.
        </li>
        <li>Los meses del año en italiano son: <span class="font-weight-bold"> Gennaio, Febbraio, Marzo, Aprile,
                Maggio, Giugno, Luglio, Agosto, Settembre, Ottobre, Novembre, Dicembre</span>.
        </li>
        <li>Los días de la semana en italiano son: <span class="font-weight-bold">
                Lunedì, Martedì, Mercoledì, Giovedì, Venerdì, Sabato, Domenica.
            </span></li>
    </ul>


</div>
</div>

</body>
</html>

