<!DOCTYPE html>
<html lang="es">
<head>
    <title>Ciudadanía italiana por reconstrucción en CABA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Templates de traducciones de actas de CABA al italiano</h1>
    <p>Traducción de acta de nacimiento (tipo 1) con firma ológrafa</p>
    <a href="../index.html"> Volver al inicio</a>
</div>

<div class="container">
    <div class="container">
    <img src="../images/Certificado_GEDO.png" style="max-width: 100%"/>
    </div>
    <br> <br>
    <div class="h2">TRADUZIONE (reemplazar lo azul por los datos, adjuntando este tecto al final de la traducción del acta original)</div>

    [Su foglio allegato: vi è uno stemma] GOVERNO DELLA CITTÀ DI BUENOS AIRES. <span class="text-danger">“2020. Anno del Generale Manuel Belgrano”.</span>
    Certificato di consegna dell’atto. Imposta di bollo assolta. Numero: <span class="text-primary">{Número timbrado, por ej CE-2020-...}</span>.
    Buenos Aires, <span class="text-primary">{Fecha}</span>. Riferimento: Certificato di consegna dell’atto. <br>

    CERTIFICO che il presente documento è copia conforme all’originale conservato nel Registro Elettronico dell’Ufficio
    Stato Civile del Sistema di Amministrazione dei Documenti Elettronici del Governo della Città di Buenos Aires
    alla data di emissione del presente certificato, e si rilascia per essere esibito a chi di competenza.
    Assolta l’imposta di bollo per il rilascio del documento. Numero di documento elettronico:
    <span class="text-primary">{Número acta, por ej IF-2015-...-DGRC}</span>.

    <div>
    <br>
        <div class="h4">Aclaraciones y tips</div>
        <ul>
            <li>
                Lo marcado en <span class="text-danger">rojo</span> son las descripciones de las firmas, y debe adaptarse con atención según el caso.
            </li>
            <li>
                En caso de tratarse del nacimiento de una mujer, <span class="bg-warning">nato</span> debe cambiarse a <span class="font-weight-bold">nata</span>, y
        <span class="bg-warning">Figlio</span> debe cambiarse a <span class="font-weight-bold">Figlia</span>.
            </li>
            <li>
                <span class="font-weight-bold">CENTRAL NACIMIENTOS</span> se traduce como <span class="font-weight-bold">CENTRALE NASCITE</span>, y
                <span class="font-weight-bold">CIRCUNSCRIPCIÓN 13º</span> se traduce como <span class="font-weight-bold">SEZIONE 13º</span>.
            </li>
            <li>Los meses del año en italiano son: <span class="font-weight-bold"> Gennaio, Febbraio, Marzo, Aprile,
                Maggio, Giugno, Luglio, Agosto, Settembre, Ottobre, Novembre, Dicembre</span>.</li>
            <li>Los días de la semana en italiano son: <span class="font-weight-bold">
                Lunedì, Martedì, Mercoledì, Giovedì, Venerdì, Sabato, Domenica.
            </span></li>
        </ul>


    </div>
</div>

</body>
</html>

